<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/masterlayout}">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/homepage/index.css}" />
<title>A Spring Boot Webapp</title>
</head>
<body>
	<th:block layout:fragment="content">
		<h3> Supplier Relation Management (SRM)
			System</h3>

	</th:block>

	<th:block layout:fragment="footer"></th:block>

</body>
</html>